
<h1>html2canvas_rails_app</h1>

<div id="target">
  <table>
      <thead>
      <tr>
        <th>タスク名</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
          <tr>
              <td><%= task.title %></td>
              <td><%= link_to '編集', edit_task_path(task) %></td>
              <td><%= link_to '削除', task_path(task), method: :delete %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '追加', new_task_path %>
</div>


<div id="take_picture">
  <input id="downloadImageButton" type="button" class="btn btn-primary" value="画像保存" onclick="getDisplayImage();" >
  <a id="getImage" href=""  style="display:none;"  download="image.png">画像保存</a>
</div>
